# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/

# VS Code settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# SQLite (if ever used)
*.db

# Jenkins workspace (safety)
workspace/

# Build files
dist/
build/